
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 34, 37);
    color: white;
    font-family: sans-serif;
}

.ask-for-name {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.453);
    align-items: center;
    justify-content: center;
}

.ask-for-name--active {
    display: flex;
}

.ask-for-name-box {
    width: 30%;
    padding: 40px 0;
    border-radius: 10px;
    background-color: rgb(38, 37, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ask-for-name__input {
    width: 70%;
    border: none;
    padding: 15px;
    background-color: rgb(51, 53, 60);
    color: white;
    caret-color: white;
}

.ask-for-name__input::placeholder {
    color: white;
    opacity: .2;
    letter-spacing: 1px;
}

.ask-for-name__button {
    text-align: center;
    width: 70%;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 20px;
    background-color: rgb(51, 53, 60);

    transition: background-color .2s, color .2s;
}

.ask-for-name__button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.edit-panel {
    z-index: 3;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.159);
}

.remove-session {
    background-color:rgb(255, 58, 84);
    color: rgb(113, 36, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 40px;

    transition: background-color .2s, color .2s;
}

.remove-session:hover {
    cursor: pointer;
    background-color:rgb(113, 36, 50);
    color: rgb(255, 58, 84);
}
/* 
.rename-session {
    background-color:#282a2e;
    color: #cfd4de;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 40px;

    transition: background-color .2s, color .2s;
}

.rename-session:hover {
    cursor: pointer;
    background-color: #cfd4de;
    color: #282a2e;
} */

.container {
    display: flex;
}

.left-box {
    height: 100vh;
    width: 30%;
    background-color: rgb(40, 42, 46);
    overflow-y: auto;
    box-shadow: 10px 0 5px rgba(0, 0, 0, 0.058);
}

.sessions {
    list-style: none;
}

.session-item {
    cursor: pointer;
    width: 100%;
    padding: 30px 30px;
    margin-bottom: 5px;
    background-color: rgb(46, 48, 53);
    font-size: 1.2rem;
    /* border-bottom: 3px solid black; */

    transition: background-color .2s, color .2s;
}

.session {
    position: relative;
}

.session--active {
    background-color: rgb(69, 75, 83);
}

.session--recording {
    border-right: 10px solid rgb(255, 0, 72);
}

.session--paused {
    border-right: 10px solid rgb(129, 67, 86);
}

/* .session-delete {
    position: absolute;
    z-index: 2;
    top: 0;
    right: -20%;
    height: 100%;
    width: 30%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;

    transition: width .2s, font-size .2s;
    color:rgb(133, 24, 39)
}

.session-delete-icon {
    pointer-events: none;
}

.session:hover .session-delete {
    width: 30%;
    font-size: 2rem;
} */

.session-add {
    text-align: center;
    font-size: 2rem;
}

.session-item:hover {
    background-color: white;
    color: black;
}

.about {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

}

.about-info-text {
    font-size: 2.5rem;
}

.about-info-value {
    color: rgb(255, 58, 84);
}

.about-controls {
    width: 100%;
}

.about-buttons {
    gap: 15px;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.about-button {
    cursor: pointer;
    padding: 15px 20px;
    text-transform: uppercase;
    border: none;
    background-color: rgb(52, 55, 62);
    color: white;
    font-size: 1.5rem;

    transition: background-color .2s, color .2s;
}

.about-button:hover {
    color: black;
    background-color: white;
}